/* Standardized Style */
div.dark-mode-toggle {
  position: fixed;
  bottom: 1%;
  right: 1%;
  cursor: pointer;
  font-size: larger;
  z-index: 1;
}

/* Animated Header */
.animated-header {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.animated-header h1 {
  position: relative;
  transition: transform 0.5s cubic-bezier(0.545, -0.6, 0.9, 1.2);
}

.animated-header:hover h1 {
  animation: slide-off-right 1.5s cubic-bezier(0.545, -0.6, 0.9, 1.2) forwards, slide-in-left 1s cubic-bezier(0.545, -0.6, 0.9, 1.2) 1s forwards;
}

@keyframes slide-off-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Expanding Tab */
.expanding-card {
  position: fixed;
  bottom: 0px;
  left: 10px;
  width: 450px;
  transition: width 0.3s, height 0.3s;
  resize: vertical;
  overflow: hidden;
  border-radius: 8px 8px 0px 0px !important;
}
.card-header {
  border-radius: 8px 8px 0px 0px !important;
  cursor: pointer;
}
.card-body {
  display: none;
}
.card.show .card-body {
  display: block;
}
.nav-tabs .nav-link {
  cursor: pointer;
}

#tab1Help {
  position: absolute;
  right: 16px;
}

/* Responsive Handling */

@media (max-width: 768px) {
  .expanding-card {
    margin: 0 2.5vw;
    width: 95vw;
    left: 0;
  }

  .expanding-card .card-body {
    overflow-y: scroll;
    max-height: 85vh;
  }

  div.dark-mode-toggle {
    top: 2%;
    right: 4%;
    font-size: large;
  }

  .container {
    margin: 3em auto 0.25em auto;
    padding: 0 0 184px 0;
    width: 90%;
  }

  i {
    font-size: x-large;
  }

  .not-mobile {
    display: none;
  }

  .mobile {
    display: block !important;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    height: auto;
    padding: auto;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}

/* Custom CSS */
.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 600px;
  margin: auto;
}
